/*
STORY STYLESHEET
- Tweego automatically compiles supported file types including css and JavaScript files into the head element of the html file
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --game-screen-green: rgb(0, 174, 0);
    --game-screen-dark-green:rgb(2, 42, 17);
    --colour-link--default: lightgreen;
    --border-green-01rem: solid 0.1rem var(--game-screen-green);
    --main-font: "Fira Code", "Consolas", monospace;
    --rune-font: 'Space Mono', Courier, monospace;
    --passage-header-footer-dividers: dashed 0.1rem rgb(118, 118, 118);
    --passage-header-footer-padding: 1.5em;
    --gameover-red : rgb(53, 2, 2);
}

html {
    font-family: var(--main-font);
    font-weight: 300;
}

body {
    background-color: #000;
}

/* =================================== */
/* STORY WIDE STYLING                  */
/* =================================== */

/* --- ALL PASSAGES --- */
.passage {
    /* border: solid 1px red; */
    margin: 0 auto;
    height: 90vh;
    max-width: 72ch;
    display: flex;
    flex-flow: column nowrap;
}

/* --- Passage Header & Footer --- */
.passage-footer, .passage-header {
    /* border: solid 1px red; */
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: 1rem;
}

.passage-header {
    margin-bottom: 1.5rem;
    padding-bottom: var(--passage-header-footer-padding);
    border-bottom: var(--passage-header-footer-dividers);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.passage-header .inventory {
    flex: 100%; 
    justify-self: flex-start; 
    text-align: left;
}

.passage-body {
    /* border: solid 1px red; */
    margin-bottom: auto;
}

.passage-footer {
    padding-top: var(--passage-header-footer-padding);
    border-top: var(--passage-header-footer-dividers);
}

.passage a {
    text-decoration: underline dotted;
    text-underline-offset: 0.5rem;
    color: var(--colour-link--default);
    font-weight: 700;
}

.passage .box {
    color: green;
    border: solid 1px green;
    width: 200px;
    height: 200px;
}


/* For image and sfx notes in passages */
.note-img {
    color: rgb(63, 241, 250);
}

.note-sfx {
    color: rgb(254, 69, 189);
}

/* Custom linkappend transition duration*/
.reveal .macro-linkappend-insert {
    transition-duration: 3s;
}

.ascii-art {
    font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
    white-space: pre;
    /* line-height: clamp(1rem, 1vw + 1rem, 1.5rem); */
}

.game-note {
    border: solid 1px #8f8f8f;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    line-height: 2em;
}

/* Story images - items, events etc. */
.img-s {
    display: block;
    margin: 0 auto;
    width: 33.33%;
    height: auto;
}

/* --- CUSTOM WIDGETS ----------- */
.appendPBody {
    display: block;
}

/* --- INVENTORY DIALOG ----------- */
.inventory-dialog {
    max-width: 72ch;
}

/* =================================== */
/* PASSAGE SPECIFIC STYLING            */
/* =================================== */

/* --- DREAM SEQUENCE ---------- */

#passage-dream-sequence .dream-img {
    display: block;
    width: 50%;
    aspect-ratio: 1/1;
    background-image: url("/img/dream-sequence/frame_001.png");
    background-size: contain;
}

a[data-passage="Dream Sequence"] {
    --transition-dur: 0.5s;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    display: inl;
    color: #fff;
    transition: all var(--transition-dur) linear;
}

a[data-passage="Dream Sequence"]:hover {
    font-size: 3rem;
    text-decoration: none;
    font-weight: 700;
    transition: all var(--transition-dur) linear;
}

/* --- HOUSE ---------- */

#passage-house .chores a.done {
    text-decoration: line-through;
}

/* ==================== */
/*  GAME SCREEN         */
/* ==================== */
/* --- Notes --- */
/*  
    - Content from Game Screen passage is inserted with <<include>> into all Game Chapter passages - so styling is applied to all passages which includes 'game-screen' in tags 
    - '*=' selector searches for 'game-screen' in passage data-tags attribute
    - Passages inserted into another don't preserve their tags?? Didn't want to override by setting id on <<include>> container, so doesn't conflict with Sugarcube system where slugified passage names are passage IDs.
 */
/* ---- OUTPUT DISPLAY ---- */

.passage[data-tags*="game-screen"] .display {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem auto;
    content: "";
    width: 250px;
    color: var(--game-screen-green);
    text-align: center;
    font-size: 1.5rem;
    border: var(--border-green-01rem);
    background: #000;
}

.passage[data-tags*="game-screen"] .output-title {
    margin: 0.1rem;
    padding: 0;
}

/* Text output goes here */
.passage[data-tags*="game-screen"] .output {
    /* background-color: blue; */
    border-top: var(--border-green-01rem);
    width: 100%;
    aspect-ratio: 1/1;
    flex-grow: 1;
    align-content: center;
}

.passage[data-tags*="game-screen"] .display-text-2 {
    /* border: solid 1px purple; */
    margin: auto;
    width: 3ch;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    line-height: 95%;
    font-size: 2rem;
    font-family: var(--rune-font);
    animation: 
        float 1s ease-in-out infinite alternate; 
        /* spin 15s linear infinite; */
}

.passage[data-tags*="game-screen"] .display-text-2>.box {
    border: none;
    width: 1em;
    height: 1em;
}

@keyframes float {
    0% {
        gap: 0.2rem;
        /* font-size: 2rem; */
    }
    100% {
        gap: 0rem;
        /* font-size: 1.25rem; */
        color: rgb(45, 213, 45);
    }
}

/* ---- USER CONTROLS ---- */

.passage[data-tags*="game-screen"] .user-control-container {
    display: flex;
    justify-content: center;
}

/* User input container */
.passage[data-tags*="game-screen"] .control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 1rem;
    justify-content: center;
    padding: 0.25rem;
    border: double 0.25rem var(--game-screen-green);
    background: #000;
}

/* User input text fields */
.passage[data-tags*="game-screen"] .user-input {
    /* background-color: grey; */
    background-color: transparent;
    color: green;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 0;
    width: 1em;
    height: 1.25em;
    text-align: center;
    align-content: center;
    font-family: var(--rune-font);
    font-size: 2rem;
}

.passage[data-tags*="game-screen"] .user-input:focus {
    outline: none;
    background: var(--game-screen-green);
    color: #000;
}

/* ---- BUTTONS ---- */

.passage[data-tags*="game-screen"] .buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

.passage[data-tags*="game-screen"] .btn {
    display: block;
    color: var(--game-screen-green);
    background-color: #000;
    border: var(--border-green-01rem);
    font-family: inherit;
    font-size: 1.1rem;
}

.passage[data-tags*="game-screen"] .btn:focus {
    outline: none;
    background: var(--game-screen-green);
    color: #000;
}


/* Test text area */
.passage[data-tags*="game-screen"] .test-text-area {
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    overflow: hidden;
    font-family: var(--rune-font);
    line-height: 1rem;
}


/* ---- BUTTONS ---- */
#game-screen-fx {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}