@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: "Fira Code", "Consolas", monospace;
    font-weight: 300;
}

body {
    background-color: #000;
}

.passage a {
    text-decoration: none;
    color: lightgreen;
    font-weight: 700;
}

.passage .box {
    color: green;
    border: solid 1px green;
    width: 200px;
    height: 200px;
}

.passage {
    margin: 0 auto;
    justify-items: center;
    text-align: center;
    align-content: center;
    min-height: 256px;
    /* border: solid 1px red; */
}

#passage-dream-sequence .dream-img {
    display: block;
    width: 512px;
    aspect-ratio: 1/1;
    background-image: url("/img/dream-sequence/frame_001.png");
    background-size: contain;
}

a[data-passage="Dream Sequence"] {
    --transition-dur: 0.5s;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
    display: inl;
    color: #fff;
    transition: all var(--transition-dur) linear;
}

a[data-passage="Dream Sequence"]:hover {
    font-size: 3rem;
    text-decoration: none;
    font-weight: 700;
    transition: all var(--transition-dur) linear;
}

.reveal {
    border: green;
}

.fade-in {
    /* border: solid 1px red; */
    font-size: clamp(0.9rem, 1vw + 0.9rem, 1.1rem);
}

.ascii-art {
    font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
    white-space: pre;
    /* line-height: clamp(1rem, 1vw + 1rem, 1.5rem); */
}